body {
  background-color: #000000;
}

a {
  color: #6c757d;
  text-decoration: none;
  transition: all 1s ease;
}

a:hover {
  color: #ffffff;
}

header {
  min-height: 100vh;
}

/* Paragraphe caché au début */
#header-title {
  opacity: 0;
  transform: translateY(-50px);
  transition: opacity 2s ease-in-out, transform 2s ease-in-out;
}

/* Classe qui rend le paragraphe visible */
#header-title.visible {
  opacity: 1;
  transform: translateY(0px);
}

/* Paragraphe caché au début */
#header-content {
  opacity: 0;
  transform: translateX(-50px);
  transition: opacity 2s ease-in-out, transform 2s ease-in-out;
}

#header-content a {
  pointer-events: none;
}

/* Classe qui rend le paragraphe visible */
#header-content.visible {
  opacity: 1;
  transform: translateX(0px);
}

#header-content.visible a {
  pointer-events: auto;
  color: #ffffff;
}

#header-content.visible a:hover {
  pointer-events: auto;
  color: #6c757d;
}

#header-logo {
  width: 175px;
  height: auto;
  background-repeat: no-repeat;
  background-position: center; /* Centre l'image dans le conteneur */
  background-size: cover; /* L'image remplira le conteneur sans être déformée */
}

/* Media query pour les écrans plus larges */
@media (min-width: 576px) {
  #header-logo {
    width: 200px;
  }
}

/* Media query pour les écrans plus larges */
@media (min-width: 768px) {
  #header-logo {
    width: 250px;
  }

  #header-content {
    transform: translateX(-100px);
  }
}

/* Media query pour les écrans plus larges */
@media (min-width: 992px) {
  #header-logo {
    width: 275px;
  }
}

/* Media query pour les écrans plus larges */
@media (min-width: 1200px) {
  #header-logo {
    width: 300px;
  }
}

/* Media query pour les écrans plus larges */
@media (min-width: 1320px) {
  #header-logo {
    width: 350px;
  }
}

.logo {
  max-height: 50px;
  width: auto;
}
