html {
  scroll-behavior: smooth;
}

body {
  background-color: #000000;
}

.carousel-caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.logo {
  max-height: 50px;
  width: auto;
}

.carousel-item {
  position: relative;
}

.overlay-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%; /* Positionne le dropdown juste sous le titre */
  left: 50%;
  transform: translateX(-50%); /* Centrer le dropdown */
  margin: 0rem; /* Espace entre le titre et le dropdown */
  background-color: #000; /* Couleur de fond noire */
  border: none; /* Supprimer la bordure si présente */
}

.dropdown-item {
  color: #fff; /* Couleur du texte blanche pour les éléments */
}

.dropdown-item:hover {
  background-color: #333; /* Couleur d'arrière-plan lors du survol */
  color: #fff; /* Couleur du texte blanche lors du survol */
}
